@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.Input {
  @apply grid grid-cols-1 gap-2 text-sm;
}

.Input label {
  @apply text-gray-500;
}

.Input input {
  @apply bg-inherit border border-gray-500 rounded-md px-2 py-1;
}

.Button {
  @apply text-sm font-bold bg-blue-600 rounded-md py-2 px-4;
}

.Button-loading {
  @apply opacity-50 pointer-events-none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
