@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.Section {
  @apply w-full flex flex-col items-center justify-center gap-10;
}

.Form {
  @apply grid grid-cols-1 gap-5 place-content-center text-sm;
}

.Input {
  @apply grid grid-cols-1 gap-2 text-sm;
}

.Input label {
  @apply text-gray-500;
}

.Input input {
  @apply bg-inherit border border-gray-500 rounded-md px-2 py-1 appearance-none;
}

.Input select {
  @apply bg-inherit border border-gray-500 rounded-md px-2 py-1 appearance-none focus:bg-black;
}

.Button {
  @apply text-sm font-bold bg-blue-600 text-white hover:opacity-80 rounded-md py-2 px-4;
}

.Button-loading {
  @apply opacity-50 pointer-events-none;
}

.Row {
  @apply odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700;
}
.Row td {
  @apply px-6 py-4;
}
.Row th {
  @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
